{%- comment -%}
This partial requires a param: `teaching`
{%- endcomment -%}


{%- assign teaching = include.teaching -%}
{%- for univ in teaching -%}

<div class="univ">
  <p class="univ__name">{{ univ.univ }}</h3>
  <ul class="univ__courses">
    {%- for course in univ.courses -%}
    <li class="course">
      <p class="course__title">{{ course.code }}: {{ course.name }}</p>
      {%- if course.terms -%}
      <p class="course__terms">
        Instructor:&nbsp;

        {%- for term in course.terms -%}
          {%- if term.url -%}
          <a class="course__link" href="{{ term.url }}" target="_blank"
            >{{ term.term }}</a
          >
          {%- else -%}
          {{ term.term }}
          {%- endif -%}

          {% if forloop.last == false %}
            <span class="course__term--spacer">—</span>
          {% endif %}
        {%- endfor -%}
      </p>
      {%- endif -%}

      {%- if course.ta_terms -%}
      <p class="course__terms">
        TA:&nbsp;

        {%- for term in course.ta_terms -%}
          {%- if term.url -%}
          <a class="course__link" href="{{ term.url }}" target="_blank"
            >{{ term.term }}</a
          >
          {%- else -%}
          {{ term.term }}
          {%- endif -%}

          {% if forloop.last == false %}
            <span class="course__term--spacer">—</span>
          {% endif %}
        {%- endfor -%}
      </p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
{%- endfor -%}
