/*********************************************************
 * Colors
 *********************************************************/

$color-purple: #9E99D5;
$color-text: #233947;
$color-white: #FFF;
$color-light-gray: #DAD9E3;
$color-dark-gray: #717A9B;
$color-dark-blue: #24446A;

$color-links: #2170CE;

// Override the default text color with our own
$inuit-base-text-color: $color-text;
