/*********************************************************
 * samlau.me
 *********************************************************/

/**
 * SETTINGS
 */
@import "settings.colors";
@import "settings.defaults";
@import "settings.responsive";

/**
 * TOOLS
 */
@import "tools.functions";
@import "tools.mixins";
@import "tools.responsive";
@import "tools.aliases";

@import "bourbon/bourbon";

/**
 * GENERIC
 */
@import "generic.normalize";
@import "generic.reset";
@import "generic.box-sizing";
@import "generic.shared";

/**
 * BASE
 */
// The base font size is 16px
$inuit-heading-size-1: 36px !default;
$inuit-heading-size-2: 24px !default;
$inuit-heading-size-3: 24px !default;
$inuit-heading-size-4: 24px !default;
$inuit-heading-size-5: 24px !default;
$inuit-heading-size-6: 24px !default;
@import "base.page";
@import "base.headings";
@import "base.type";
@import "base.links";
@import "base.lists";

@import "syntax-highlighting";

/**
 * OBJECTS
 */
@import "objects.wrappers";
@import "objects.section-heading";

/**
 * COMPONENTS
 */
@import "components.site-header";
@import "components.homepage";
@import "components.projects";
@import "components.cv";
@import "components.post";
